table {
  width: 100%;
}

.mat-card-content{
  width: 80%;
  margin: 0 auto;
  margin-top: 1%;
}
.container{
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
}
.ng-container, th, td, .mat-header-cell {
  text-align: center;
  font-size: 15px;
  color: black;

}

tr.mat-footer-row {
  font-weight: bold;
}

.insert{
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 4%;
  margin: 0 auto;
}



.title {
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
  text-align: center;


}

.subtitle {
  text-align: center;
  font-size: 18px;
  margin: 0 auto;

}
.ng-hide.ng-hide-animate{
  display: none !important;
}




.md-dialog-content{
  width: 1200px;
  height: 1200px;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
  width: 2000px;
}

.order2{
  margin: 0 auto;

}

 .mat-header-cell {
  background-color: lightgrey;
}
.mat-cell{
  border-right-width: 1px;
  border-right-style:double;
  border-right-color: lightgray;

}





/****************************/
.container-fluid{
  background-color: none;
  border-bottom:solid black 2px;
 
  padding-bottom: 1%;
  padding-top: 1%;
}

.col-md-4{
  background-color: white;
  border-right:solid black 2px;
  
}

.col-md-8{
  background-color: none;
 
}
