<img src="../../../assets/images/gop.png" alt="Britanny" style="width: 200px;" >
<h3 style="text-align: right; color: red;"> {{ invoice.orderDate | date }}</h3>
<br>
<mat-divider></mat-divider>
<br>
<h2 style="text-align: center;" mat-dialog-title>{{invoice.username}} Confirm your order</h2>

<div mat-dialog-content>

    <mat-divider></mat-divider>

    <h4>Meat Order</h4>
    <div *ngFor="let lineItem of invoice.lineItems" >
        <mat-list >
            <mat-list-item style="color: green;">
              {{lineItem.id}}
              <div fxFlex></div>
                {{lineItem.title}}:
                <div fxFlex></div>
                {{lineItem.extimate | currency}}
            </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>

    <!-- <h4>Number of Items | Boxes</h4> -->
    <!-- <mat-list>
        <mat-list-item>
            Parts:
            <div fxFlex></div>
            {{invoice.partsAmount | currency}}
        </mat-list-item>
        <mat-list-item>
            Labor:
            <div fxFlex></div>
            {{invoice.laborAmount | currency}}
        </mat-list-item>
    </mat-list> -->
    <br />

    <mat-divider></mat-divider>
    <p fxLayoutAlign="end">
        Total charges: {{invoice.total | currency}}
    </p>
</div>
<br />

<div mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose="reset" color="primary">Cancel</button>
    <button mat-raised-button matDialogClose="confirm" color="accent" cdkFocusInitial>Confirm Order</button>
</div>
