



<h3 style="text-align: right; color: red;"> {{ barcode.orderDate | date }}</h3>
<br>
<mat-divider></mat-divider>


    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0" >
            <tr class="top">
                <td colspan="2">
                    <table >
                        <tr>
                            <td class="title">
                              <img src="../../../assets/images/gop.png" alt="GOP" style="width: 200px;" >
                            </td>

                            <td style="text-align: right;">

                             {{now |  date:'MM-dd-yyyy'}} <br>
                             {{now |  date:'HH:mm a'}}

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
              <td colspan="2">
                  <table>
                      <tr>
                          <td>
                              Greater Omaha Packiging, Inc.<br>
                              3001 L St<br>
                              Omaha, NE 68117
                          </td>

                          <td>
                            {{employees?.FirstName}} <br>
                            {{employees?.LastName}}

                              <br>

                          </td>
                      </tr>
                  </table>
              </td>
          </tr>



          <tr class="heading" >


              <td style="text-align: justify;">
                  Description
              </td>

              <td>
                  Pric
              </td>
          </tr>

          <tr class="item" *ngFor="let barcode of barcodes">


              <td style="text-align: justify;">
                  {{barcode.barBoxNetWeight}}
              </td>


              <td>
                {{barcode.totalprice}}
            </td>
          </tr>

          <tr class="total" >
              <td></td>

              <td>
                 {{getTotalCost() | currency}}
              </td>
          </tr>
      </table>
      <br>
      <br>

      <div class="signature">
        <p>
          I authorize Greater Omaha Packing to make a deduction from my net pay and I agree that my net pay will be reduced
          by the amount shown on this Sales Receipt.
        </p>
        <br>
        <p>
          Yo autorizo a Greater Omaha Pakcking hacer una deduccion de mi pago neto y estoy de acuerdo que mi pago neto va
          a ser reducido por la cantidad de este recibo.
        </p>
        <br>


        <hr class="line" style="width:50%;text-align:left;margin-left:0; background-color: black; border-width: 5px ;">
      </div>

      <div mat-dialog-actions class="submitButtons" align="end">
    <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
    <button mat-raised-button matDialogClose="confirm" color="accent" cdkFocusInitial onclick="window.print()" >Print</button>
</div>
  </div>



  <br>
<br><br>


