<!-- <mat-card > -->

  <!-- <form [formGroup]="form" (ngSubmit)="enterTime();" #loginForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Input & change events</mat-label>
    <input matInput [matDatepicker]="picker"
           (dateInput)="addEvent('input', $event)"  (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-card-actions>

    <button type="submit" fxFlex mat-raised-button  class="buttonSubmit">Submit</button>
  </mat-card-actions>

  <br>
  <span>
    {{now |  date:'MM-dd-yyyy'}} <br>
     {{now |  date:'HH:mm:ss a'}}
  </span>
  </form> -->
  <!-- <form [formGroup]="form" (ngSubmit)="login();form.reset()" #loginForm="ngForm">
    <mat-card-content style="background-color: white;">

      <mat-form-field>
        <input type="text" matInput fxFlex [formControl]="form.controls['des']"
            placeholder="description" autofocus />
    </mat-form-field>
    <br>

   <mat-form-field class="example-full-width" appearance="fill">

    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
  </mat-form-field> -->

  <!-- </mat-card-content>
  <mat-card-actions>
    <button type="submit" fxFlex mat-raised-button style="background-color: #005640; color: white;">Submit</button>
</mat-card-actions>
  </form>
</mat-card> -->
<!-- <mat-card class="signinForm">
  <mat-card-title style="text-align: center; font-size: 25px; font-weight: lighter;"
      class="mat-headline">Employee Sign In
  </mat-card-title>


  <mat-card-subtitle style="text-align: center; font-weight: lighter;">
  <a routerLink="/session/account-registration" class="register-link">or create an account</a>
</mat-card-subtitle>


<mat-card-subtitle style="text-align: center;" class="mat-headline">You must enter a valid
username/password to proceed
</mat-card-subtitle>

<mat-card-content>
<small style="color: #df546a;" *ngIf="errorMessage">{{ errorMessage }}<br /></small>
<mat-card class="mat-elevation-z0">
  <form [formGroup]="form" (ngSubmit)="timer(); form.reset()" #loginForm="ngForm">
      <mat-card-content fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
              <input type="text" matInput fxFlex [formControl]="form.controls['des']"
                  placeholder="Username" autofocus />
          </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
          <button type="submit" fxFlex mat-raised-button style="background-color: #005640; color: white;">Submit</button>
      </mat-card-actions>
      <br />
      <a fxLayoutAlign="end" class="forgot-password-link" routerLink="/session/forgot-password">Forgot password?</a>
      <br>

  </form>
</mat-card>
</mat-card-content>
</mat-card> -->



<div fxLayout="column" style='margin: 50px;'>
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Create Role</mat-card-title>
    <br/>
    <form [formGroup]="form" (ngSubmit)="create()" #roleForm>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input matInput
                   [formControl]="form.controls['description']"
                   placeholder="Role"/>
          </mat-form-field>
        </div>
      </mat-card-content>

      <br/>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button mat-raised-button color="accent">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
