
  
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button
                class='order2'
                style='margin: 0 auto; text-align: center; background-color: #284b59;'
                mat-raised-button
                (click)="languageEsp()"
                >
                
                <img src="../../../assets/images/SPAflag.png" alt="USAFlag" style="width: 50px;">

              
                  <br>
                  <span class="material-icons" style="color: lightgreen;">
                    g_translate
                    </span>
                
              Español
              
              </button>
            </div>
            <div class="col-md-4">
                <button
                class='order2'
                style='margin: 0 auto; text-align: center; background-color: #284b59;'
                mat-raised-button
                (click)="languageEnglish()"
                color='accent'> 
                  <img src="../../../assets/images/USAFlag.png" alt="USAFlag" style="width: 50px;">
                  <br>
                  <span class="material-icons"  style="color: lightgreen;">
                    g_translate
                    </span>
                  English
              </button>
            </div>
            <div class="col-md-4">
                <button
                class='order2'
                style='margin: 0 auto; text-align: center; background-color: #284b59;'
                mat-raised-button
                (click)="languageBurmise()"
                color='accent'> 
                <img src="../../../assets/images/Burmese_Flag.png" alt="USAFlag" style="width: 56px; height: 53px; border-radius: 50%;">
                <br>
                 <span class="material-icons"  style="color: lightgreen;">
                    g_translate
                    </span>မြန်မာဘာသာ
              
              </button>
            </div>
        </div>
    </div>
  </div>