<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class="toolbar">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->




      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - GOP MEAT SALE 
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
