<mat-card-content *ngIf='invoices'>


    <table mat-table  [dataSource]="invoices" class="mat-elevation-z8">
    
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
    
    <!-- Position Column -->
    <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element">{{element.username}}  </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="lineitems">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element">
      <ul style="list-style:none; text-align: center;" >
      <li> 
        {{
         
          element?.lineItems[0]?.title
        }}
      </li>
    
    <li> 
      {{
        element?.lineItems[1]?.title
      }}
    </li>
    <li>
      {{
        element?.lineItems[2]?.title
      }}
    </li>
    <li>
      {{
        element?.lineItems[4]?.title
      }}
    </li>
    
    <li>
    {{
      element?.lineItems[5]?.title
    }}
    </li>
    <li>
    {{
      element?.lineItems[6]?.title
    }}
    </li>
    </ul>
    </td>
    </ng-container>
    
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="partsamount">
    <th mat-header-cell *matHeaderCellDef> Parts $ </th>
    <td mat-cell *matCellDef="let element"> {{element.partsAmount}} </td>
    </ng-container> -->
    
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="laboramount">
      <th mat-header-cell *matHeaderCellDef> Labor $ </th>
      <td mat-cell *matCellDef="let element"> {{element.laborAmount}} </td>
      </ng-container> -->
    
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="linetotal">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Items $ </th>
      <td mat-cell *matCellDef="let element"> {{element.lineItemTotal}} </td>
      </ng-container> -->
    
    
    
    <!-- Weight Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
      </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="date" style="text-align: center;" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Date </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.orderDate | date}} </td>
      </ng-container>
    <!-- total cost Column -->
    
    
    
    <ng-container matColumnDef="functions">
      <th mat-header-cell *matHeaderCellDef>Functions</th>
    
      <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="delete(element._id)">
            <mat-icon color="accent">delete</mat-icon>
          </button>
      </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    </mat-card-content>
    
    <!-- <mat-card>
      <button
      class='order'
      style='margin: 0 auto; text-align: center;'
      routerLink='/barcode-info/{{username}}'
      mat-raised-button
      color='accent'>
      MY ORDER!</button>
      <br>
      <br>
      <button
      class='order'
      style='margin: 0 auto; text-align: center;'
      routerLink='/sell/{{username}}'
      mat-raised-button
      color='accent'>
      Scann!</button>
    </mat-card> -->
    
    
    
    <br>
    <br>
    <br>
    <br>
    <br>