 .signin-container{
  width: 100%;
  min-width: 80%;
  max-width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.signin-title{
  color: #005640;
  font-size: xx-large;
  text-align: center;
}

.signin-subtitle{
  text-align: center;
  color: black;
}
.buttonSubmit{
  background-color: #005640;
  color: white;
}

.simple-keyboard{
  width: 50%;
  margin: 0 auto;
}