 .signin-container{
  width: 100%;
  min-width: 70%;
  max-width: 100%;
  margin-top: 20%;
  margin-bottom: 0;
  margin: 0 auto;

}

.signin-title{
  color: #005640;
  font-size: xx-large;
  text-align: center;
}

.signin-subtitle{
  text-align: center;
  color: black;
}
.buttonSubmit, .btn-grad:hover, .buttonSubmit:hover{
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
  background-position: right center;
  color: white;
}
.buttonSubmit:hover{
  background-position: right center;
}

.buttonSubmit {background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%)}
.buttonSubmit:hover { background-position: right center; }

ul {
  text-align: center;
}

input {

  width: 0 auto;

  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 100%;
}


/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-radius: 1px solid red;
}

.simple-keyboard.myTheme1 .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}

.simple-keyboard.hg-theme-default.myTheme {
  border: 5px solid linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
  background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 20px);
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}

/* .simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
  z-index: 1;
} */

