.mat-card{
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
}

.signin-title{
  color: lightseagreen;
  font-size: xx-large;
  text-align: center;
}

.signin-subtitle{
  text-align: center;
  color: black;
}