
<!-- <meta http-equiv="refresh" content="30" /> -->

  <mat-card class="signin-container" *ngIf="show">
    <img src="../../../assets/images/gop.png" alt="gop" style="float: center;">
<br>
    <mat-card-subtitle class="signin-subtitle mat-headline">You must enter a valid employee id to proceed
    </mat-card-subtitle>
    <mat-card-content >
      <mat-card class="mat-elevation-z0"fxLayout="column" fxLayoutGap="10px">
        <form [formGroup]="form" (ngSubmit)="login(); form.reset()" #loginForm="ngForm">

          <mat-card-content style="background-color: white;">

            <mat-form-field appearance="outline" style=" width: 50%; margin:0">
              <mat-label>Employee Id</mat-label>
              <!-- <input (input)="onInputChange($event)" value={{value}} matInput [formControl]="value" placeholder="Employee Id" autofocus/> -->
              <input (input)="onInputChange($event)" value={{value}} matInput [formControl]="form.controls['EmployeeId']" placeholder="Employee Id" autofocus/>
              <mat-error *ngIf="form.controls['EmployeeId'].hasError('required') && form.controls['EmployeeId'].touched">
                Employee ID is a required field.
              </mat-error>
              <mat-error *ngIf="form.controls['EmployeeId'].hasError('pattern') && form.controls['EmployeeId'].touched">
                Employee ID must be letters.
              </mat-error>
            </mat-form-field>
            <div class="simple-keyboard"></div>
          </mat-card-content>

          <mat-card-actions>

            <button type="submit" fxFlex mat-raised-button  class="buttonSubmit">Submit</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <!-- <div style="text-align:center">
    <input (input)="onInputChange($event)" class="input" value={{value}} placeholder="Tap on the virtual keyboard to start" />

  </div> -->

<mat-card *ngIf="!appear">
  <h1>Time is up</h1>
  <h2>The meat sale is going to be at on Monday.</h2>
</mat-card>
