<!--
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" optional>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
 -->
<mat-card>
  <h1 class="title">
    SINCE 1920 <br />
    <span class="subtitle">
      Greater Omaha has been in the beef business since 1920. An uncompromising commitment to quality has been our hallmark since day one, constantly at the forefront of innovation in food safety and humane treatment of animals.

      Today, we ship beef to every U.S. state and over 70 countries around the globe.
    </span>
  </h1>






<div fxLayout="column" class="main-welcome">


  <button
    class='order'
    style='margin: 0 auto; text-align: center;'
    routerLink='/service-repair'
    mat-raised-button
    color='accent'>Order Meat Now! | Ordena Carne Aqui!</button>

<br>
<br>
<button
    class='order'
    style='margin: 0 auto; text-align: center;'
    routerLink='/my-orders/{{username}}'
    mat-raised-button
    color='accent'>Check my Order | Vee tu Order Aqui

  </button>

</div>
</mat-card>
