<body>



<!--
<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" optional>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
 -->

 <!-- <mat-card>
  <p id="demo">{{timeExpire()}}</p>
 </mat-card> -->

 <div class="logOut" fxLayout="column" style="float: right; padding-right: 15%; margin-top: 14%; height: 50px;">

  <button
  class='order2'
  style='margin: 0 auto; text-align: center;'
  mat-raised-button
  (click)="onLogout()"
  color='warn'> <span class="material-icons">
    exit_to_app
    </span> Logout | Salir

</button>

</div>
<div class="outsideContainer">

  <div class="insideContainer" *ngIf="appear">
    <h1>
      {{user?.FirstName}}
      {{user?.LastName}}
    </h1>


  <h1 class="title" *ngIf="show">
    Place your order right now! <br />
    <span class="subtitle" >
      Select only two items
    </span>
  </h1>

  <h1 class="title" *ngIf="!show">
    Thank you for your order! <br />

  </h1>








<div fxLayout="column" class="main-welcome" *ngIf="show" >


  <button

    class='order'
    style='margin: 0 auto; text-align: center;'
    routerLink='/service-order'
    mat-raised-button
    color='accent'>Order Meat Now! | Ordena Carne Aqui!</button>

<br>
<br>
<!-- <button
    class='order2'
    style='margin: 0 auto; text-align: center;'
    routerLink='/my-orders/{{username}}'
    mat-raised-button
    color='accent'>Check my Order | Vee tu Order Aqui

  </button> -->

</div >


<div fxLayout="column" class="main-welcome">
  <button
  class='order2'
  style='margin: 0 auto; text-align: center;'
  routerLink='/my-orders/{{username}}'
  mat-raised-button
  matBadge={{invoice?.length}}
  matBadgePosition="before"
  matBadgeColor="warn"
  color='accent'>Check my Order | Vee tu Order Aqui

</button>

</div>
</div>
<div class="insideContainer" *ngIf= "!appear">

  <h1>
    {{user?.FirstName}}
    {{user?.LastName}}
  </h1>


<h1 class="title">
  No longer accepting more orders! <br />
  <span class="subtitle" >
    See you next time
  </span><br>
  <span class="subtitle" >
    Thank you
  </span>
  </h1>

</div>

</div>




</body>
