<body>





 <div class="logOut" fxLayout="column" style="float: right; padding-right: 15%; margin-top: 14%; height: 50px;">

  <button
  class='order2'
  style='margin: 0 auto; text-align: center;'
  mat-raised-button
  (click)="onLogout()"
  color='warn'> <span class="material-icons">
    exit_to_app
    </span> {{logoutLanguageChange()}}

</button>

</div>


<div class="outsideContainer">

  <div class="insideContainer" *ngIf="appear">
    <h1 class="h1Names">
      {{user?.FirstName}}
      {{user?.LastName}}
    </h1>


  <h1 id="demo" class="title" *ngIf="show">
    {{firstLanguageChange()}}<br />
    <h2 id="susdemo" class="subtitle" >

     {{secondLanguageChange()}} 
      
    </h2>
  </h1>

  <h1 class="title" *ngIf="!show">
    {{sixLanguageChange()}} <br />

  </h1>








<div fxLayout="column" class="main-welcome" *ngIf="show" >


  <button

    class='order'
    style='margin: 0 auto; text-align: center;'
    routerLink='/service-order'
    mat-raised-button
    color='accent'>
    
    {{buttonOneLanguageChange()}}</button>

<br>
<br>
<!-- <button
    class='order2'
    style='margin: 0 auto; text-align: center;'
    routerLink='/my-orders/{{username}}'
    mat-raised-button
    color='accent'>Check my Order | Vee tu Order Aqui

  </button> -->

</div >


<div fxLayout="column" class="main-welcome">
  <button
  class='order2'
  style='margin: 0 auto; text-align: center;'
  routerLink='/my-orders/{{username}}'
  mat-raised-button
  matBadge={{invoice?.length}}
  matBadgePosition="before"
  matBadgeColor="warn"
  color='accent'>{{buttonTwoLanguageChange()}}

</button>

</div>
</div>
<div class="insideContainer" *ngIf= "!appear">

  <h1>
    {{user?.FirstName}}
    {{user?.LastName}}
  </h1>


<h1 class="title">
  {{thirdLanguageChange()}} <br />
  <span class="subtitle" >
    {{fourthLanguageChange()}}
  </span><br>
  <span class="subtitle" >
    {{fifthLanguageChange()}}
  </span>
  </h1>


  <div fxLayout="column" class="main-welcome">
    <button
    class='order2'
    style='margin: 0 auto; text-align: center;'
    routerLink='/my-orders/{{username}}'
    mat-raised-button
    matBadge={{invoice?.length}}
    matBadgePosition="before"
    matBadgeColor="warn"
    color='accent'>{{buttonTwoLanguageChange()}}
  
  </button>
  
  </div>

</div>


</div>






</body>
