<!--=========================
Name: Brittany Dockter, Justin Singleton, Gabriel Sanchez
Date: April 19, 2020
Assignment: basic layout for nav bar and styling
Description: html for the delete dialog page
==========================-->

<div fxLayout="column">

  <!-- navigation -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Great</h1>
      <span class="menu-spacer"></span>
      <div>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/session/signin" mat-button>Login</button>
        <button class="navbar-link" routerLink="/about" mat-button>About</button>
        <button class="navbar-link" routerLink="/contact" mat-button>Contact Us</button>
        <button mat-icon-button *ngIf='show' class="navbar-link" routerLink="/admin" mat-icon-button><span class="material-icons">
          home</span></button>


            <button class="nav-link btn btn-sm btn-danger btn-sm" (click)="onLogout()">
              Logout
            </button>


      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span style="font-size: 20px;">Welcome, {{username}}</span>
      </mat-toolbar-row>
  </mat-toolbar>








  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a
          href="https://www.bellevue.edu/"
          class="bu-link"
          target="_blank"
          style='color: purple;'>
            Bellevue University
          </a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
