.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

.navbar-container {
  padding: 5px;
  display: flex;
  background-color: transparent;
}

.toolbar {
  background: none;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
  background-color: none;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: lightgreen;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  background: none;
  color: white;

}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

.filler {
  flex: 1 1 auto;
}

.matToolbar, .btn-grad  {

    /* background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%)}
  .btn-grad:hover { background-position: right center; } */
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


color: white;

}
body{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* background-color: #005640; */

ul {
  text-align: center;
}

input {
  width: 100%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
}
