<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Meat Sale Report Delete">
<mat-card>
  <p style='font-weight: lighter; color: red; text-align: justify; text-align: center;'>
    Make sure you save the Sell Report before clicking the button below. 
    <br>
    This button will arase the Sell Report information, Becarefull this cannot be undone.</p>

<br>

      <button class="button" mat-raised-button (click)="delete(_id)" color="warn" >
        <span class="material-icons">
          delete_forever
          </span>
          Delete Sell Report
      </button>

  </mat-card>

  <!-- <ng-container matColumnDef="functions">
    <th mat-header-cell *matHeaderCellDef>Functions</th>

    <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="delete(element._id)">
          <mat-icon color="accent">delete</mat-icon>
        </button>
    </td>
  </ng-container> -->
    </mat-tab>
    <mat-tab label="Orders by the Employees">
      <mat-card>
        <p style='font-weight: lighter; color: red; text-align: justify; text-align: center;'>This button will arase all the orders inputed by the Employees, becareful this cannot be undone</p>

      <br>

            <button class="button" mat-raised-button (click)="deleteInvoice(_id)" color="warn" >
              <span class="material-icons">
                delete_forever
                </span>
                Delete All Orders
            </button>

        </mat-card>

    </mat-tab>

    <mat-tab label="Left Over Data">
      <mat-card>
        <p style='font-weight: lighter; color: red; text-align: justify; text-align: center;'>This button will arase all the leftover data, becareful this cannot be undone</p>

      <br>

            <button class="button" mat-raised-button (click)="deleteleftover(_id)" color="warn" >
              <span class="material-icons">
                delete_forever
                </span>
                Delete All Orders
            </button>

        </mat-card>

    </mat-tab>
</mat-tab-group>
