



<h3 style="text-align: right; color: red;"> {{ barcode.orderDate | date }}</h3>
<br>




    <div class="invoice-box">



        <table cellpadding="0" cellspacing="0" >
            <tr class="top">
                <td colspan="4">
                    <table >
                        <tr>
                            <td class="title">
                              <img src="../../../assets/images/gop.png" alt="GOP" style="width: 200px;" >
                            </td>


                            <td style="text-align: right;">

                             {{now |  date:'MM-dd-yyyy'}} <br><br>
                             {{now |  date:'HH:mm a'}}

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
              <td colspan="4">
                  <table>
                      <tr>
                          <td class="locationInfo">
                              Greater Omaha Packing, Inc.<br ><br>
                              3001 L St<br><br>
                              Omaha, NE 68117 <br><br><br><br>

                              <span class="employeeIdClass" >
                                {{employees?.EmployeeID}} <br><br>

                                {{employees?.FirstName}} 
                                {{employees?.LastName}} 
                                <hr>
                              </span>
                             
                          </td>

                          <!-- <td>
                            {{employees?.EmployeeID}} 
                            {{employees?.FirstName}} 
                            {{employees?.LastName}} 

                          </td> -->
                      </tr>
                  </table>
              </td>
          </tr>



          <tr class="heading" >


              <td style="text-align: justify;">
                  Description
              </td>
              <td style="text-align: center;">
                Weight
              </td>
              <td style="text-align: center;">
                Price P/L
              </td >


              <td style="text-align: center;">
                  Price
              </td>
          </tr>
          <br>
  

          <tr class="item" *ngFor="let barcode of barcodes" style="height: 20px;">


              <td style="text-align: justify;">
                  {{barcode.itemdescription}}
                  <br>
                  <br>
              </td>
              <td style="text-align: center;">
                {{barcode.barBoxNetWeight.toFixed(2)}}
                <br>
                <br>
              </td>
              <td style="text-align: center;">
                {{barcode.price | currency}}
                <br>
                <br>
              </td>

              <td style="text-align: center;">
                {{barcode.totalprice | currency}}
                <br>
                <br>
            </td>
          </tr>
          <br>
          <br>

          <tr class="total" >
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: center; font-weight: bolder;">
                <br>
                <br>
                Total: <br> <br>{{getTotalCost() | currency}}
              </td>
          </tr>
      </table>
      <br>
      <br>

      <div class="signature">
        <p style="letter-spacing: 3px;">
          I authorize Greater Omaha Packing to make a deduction from my net pay and I agree that my net pay will be reduced
          by the amount shown on this Sales Receipt.
        </p>
        <br>
        <p style="letter-spacing: 3px;">
          Yo autorizo a Greater Omaha Packing hacer una deduccion de mi pago neto y estoy de acuerdo que mi pago neto va
          a ser reducido por la cantidad de este recibo.
        </p>
        <br>


        <hr class="line" style="width:50%;text-align:left;margin-left:0; background-color: black; border-width: 5px ;">
      </div>

      <div mat-dialog-actions class="submitButtons" align="end">
    <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
    <button mat-raised-button matDialogClose="confirm" color="accent" cdkFocusInitial onclick="window.print()" >Print</button>
      </div>
  </div>



  <br>
<br><br>


