


  <mat-card class="insert">
    <mat-card-title>Barcode Scann</mat-card-title>
    <br/>
    <form [formGroup]="form" (ngSubmit)="create();" #barcodeForm= "ngForm">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="15px">
          <mat-form-field autofocus>
            <input matInput
                   [formControl]="form.controls['barcode']"
                   autofocus
                   placeholder="Barcode"/>
          </mat-form-field>
        </div>
      </mat-card-content>

      <br/>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" color="warn">Cancel</button>
        <button mat-raised-button (click)="testSnackbar()" color="warn">Test Snakbar</button>
        <button mat-raised-button color="accent">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>



  <!-- <table>
    <tr>
      <th>City</th>
      <th>State</th>
    </tr>

    <tr>
        <td>{{barcodes.barcode}}</td>
        <td>{{barcodes.price}}</td>

      </tr>

  </table> -->



<br><br>




<mat-card-title style="text-align: center;">Scanned Item Description</mat-card-title>
<mat-card-content *ngIf='barcodes'>

<table mat-table  [dataSource]="barcodes" class="mat-elevation-z8">

<!-- - Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
<!-- Position Column -->
  <ng-container matColumnDef="username">
  <th mat-header-cell *matHeaderCellDef> Username </th>
  <td mat-cell *matCellDef="let element">{{element.username}}  </td>
  <td mat-footer-cell *matFooterCellDef> Total </td>
  </ng-container>


<ng-container matColumnDef="barcode">
<th mat-header-cell *matHeaderCellDef> Barcode </th>
<td mat-cell *matCellDef="let element">{{element.barcode}} </td>
<td mat-footer-cell *matFooterCellDef> </td>
</ng-container>

<ng-container matColumnDef="productcode">
<th mat-header-cell *matHeaderCellDef> Product Code </th>
<td mat-cell *matCellDef="let element">
  {{element.barProductCode}}</td>
  <td mat-footer-cell *matFooterCellDef> </td>
</ng-container>

<ng-container matColumnDef="itemdescription">
  <th mat-header-cell *matHeaderCellDef> Description </th>
  <td mat-cell *matCellDef="let element">{{element.itemdescription}}</td>
  <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>


<ng-container matColumnDef="boxweight">
<th mat-header-cell *matHeaderCellDef> Box Weight </th>
<td mat-cell *matCellDef="let element"> {{element.barBoxNetWeight}} </td>
<td mat-footer-cell *matFooterCellDef> </td>
</ng-container>

<ng-container matColumnDef="priceperpound">
  <th mat-header-cell *matHeaderCellDef> Price </th>
  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  <td mat-footer-cell *matFooterCellDef> </td>
  </ng-container>

<ng-container matColumnDef="total">
  <th mat-header-cell *matHeaderCellDef> Total Price </th>
  <td style="color: red;" mat-cell *matCellDef="let element">{{element.totalprice}} </td>
  <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
  </ng-container>



<ng-container matColumnDef="functions">
  <th mat-header-cell *matHeaderCellDef>Functions</th>

  <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="delete(element._id)">
        <mat-icon color="accent">delete</mat-icon>
      </button>
  </td>
  <td mat-footer-cell *matFooterCellDef> </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card-content>
<!-- <mat-card>
  <h1 id="id1">Here is the barcode: <span></span></h1>
  <h1 id="id2">Here is the barcode: <span></span></h1>
  <h1 id="demo">Here is the barcode: <span></span></h1>

</mat-card> -->
<br>
<br>


